/******************************************** General ********************************************/

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
li,
section,
label,
input,
img {
    margin: 0;
    padding: 0;
}

/******************************************** Header ********************************************/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

    display: flex;

    justify-content: end;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #c5c5c5;
    color: white;
}

header {
    text-align: center;
}

.headerh1 {
    color: black; /* Color del texto del título */
    padding: 40px 20px; /* Espacio alrededor del título */
    font-size: 70px; 
    font-weight: 700;
    font-family: 'Dancing Script', sans-serif;
    position: relative; /* Asegura que los elementos dentro del encabezado se posicionen correctamente */
    text-align: center;
    line-height: 1;
}

/******************************************** Main ********************************************/

body {
    font-family: 'Mukta', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}


/* @media (min-width: 480px) {
    main > article {
        width: calc(50% - 5px);
    }
}
@media (min-width: 768px) {
    main > article {
        width: calc(33.33% - 7px);
    }
}
@media (min-width: 980px) {
    main > article {
        width: calc(25% - 8px);
    }
} */

/******************************************** INDEX ********************************************/

.descripcion {
    padding: 25px;
    width:53%;
    margin:0 auto;
    text-align:left;
    text-align: justify;
    font-family: 'Mukta', sans-serif;
}

#h2info {
    font-weight: 650;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
}

#h2obras {
    margin: 1;
    font-weight: 650;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    padding-left: 500px;
    line-height: 1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.destacadas {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', sans-serif;
}

.featured-artwork {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
} 

 .artwork__index {
    padding: 20px 20px;
    display: flex;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
    transition: transform 0.3s ease;
    background-color: #ffffff;
    align-items: center;
}  

.artwork__index:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.descripcioni {
    flex: 1; /* La descripción ocupará el 50% del espacio disponible */
    padding: 20px; /* Espacio alrededor de la descripción (ajusta según tus necesidades) */
}
  
.descripcioni h4 {
    font-size: 18px; /* Tamaño del subtítulo (ajusta según tus necesidades) */
    font-family: 'Dancing Script', sans-serif;
}
  
.descripcioni > p {
    font-size: 16px; /* Tamaño de la descripción (ajusta según tus necesidades) */
    text-align: justify;
    font-family: 'Mukta', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px; /* Espacio entre las imágenes */
}

.column {
    flex: 25%; /* Cada columna ocupa el 25% del ancho */
    padding: 10px;
}

/******************************************** GALERIA ********************************************/

.gallery {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px; /* Espacio entre las imágenes */
}

.column {
    flex: 25%; /* Cada columna ocupa el 25% del ancho */
    padding: 10px;
}

.artwork {
    padding-top: 20px;
    display: block;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #ffffff;
}

.artwork:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.caption {
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

/******************************************** FORM ********************************************/

.container__form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.titulo__form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;    
}

label {
    display: block;
    margin-bottom: 5px;
} 

input[type="text"],
input[type="email"],
input[type="datetime-local"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: 99.8%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor del label y el checkbox de la edad */
.age-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
    display: block; /* Para que el contenedor no ocupe toda la línea */
}

/* Estilo para el label del checkbox */
.age-label {
    display: inline-block;
    margin-right: 3px;
    padding-top: 3px;
}

/* Estilo para el checkbox */
.age-checkbox {
    vertical-align: text-bottom; /* Centra el checkbox verticalmente con el label */
}

/******************************************** Footer ********************************************/

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-bg {
    flex: 1;
}

.footer-info {
    flex: 1;
}

.footer-links {
    flex: 1;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

/* Estilos para los vínculos */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

  
  
