/******************************************** General ********************************************/

:root {
    background: #fafafa;
    font-family: 'Mukta', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
ul,
li,
label,
input,
img {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** Header ********************************************/

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #333333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom: 80px;
}

.logo{
    height: 75px;
    /* alineacion sobre eje secundario dado por flex-align */
    align-items: center;
    margin: 15px 0 0 10px;
}

.header .header__links {
    display: flex;
    font-size: 20px;
}

.header__links li {
    list-style: none;
}

.header__links a {
    float: left;
    color: #B9B4C7;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header__links a:hover {
    background-color: #ddd;
    color: black;
}

.header .toggle__btn {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    padding: 20px 20px;
}

.header__mobile {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(43, 35, 35, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header__mobile.open{
    height: 130px;
    cursor: pointer;
}

.header__mobile li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** Main ********************************************/

.main{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    margin: 0 auto;
    width: 100%;
} 

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** Footer ********************************************/

.footer {
    display: flex;
    
    text-align: center;
    justify-content: space-between;
    border: 1px solid #333333;
    padding-top:30px;
    padding-bottom:15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-top: 100px;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    line-height: 1.5;
    margin-bottom: 5px;
}

a {
    color: #3f3f3f;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** INDEX ********************************************/

.headerh1bg {
    display: flex;
    color: black;
    padding: 100px;
    font-size: 150px;
    font-weight: 700;
    font-family: 'Mukta', Impact, sans-serif;
    position: relative; /* Asegura que los elementos dentro del encabezado se posicionen correctamente */
    text-align: center;
    line-height: 1;
    -webkit-background-clip: text;
    background-clip: text;
	color: transparent;
	background-image: url('/multimedia/background.jpg');
    background-position: center;
    /* background-position-y: 60px;
    background-position-x: 90px; */
}

.headerh1 {
    display: flex;
    color: #352F44;
    padding: 100px;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Dancing Script', sans-serif;
    position: relative; /* Asegura que los elementos dentro del encabezado se posicionen correctamente */
    text-align: center;
    line-height: 1;
}

.header__image {
    width: 100%;
    max-height: 240px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    text-align:left;
    text-align: justify;
    
    /* margin-top: 100px; */
}

.h2desc {
    display: flex;
    width: 70%;
    font-family: 'Dancing Script', sans-serif;
    
    margin: 0 auto;
    font-weight: 650;
    font-size: 30px;
}

.desc{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:60%;
    font-size: 20px;
    margin-top: 20px;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.destacadas {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', sans-serif;
}

.featured-artwork {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
} 

.artwork__index {
    padding: 20px 20px;
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transition: transform 0.3s ease;
    background-color: #ffffff;
    align-items: center;
}  

.artwork__index:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.descripcioni {
    flex: 1; /* La descripción ocupará el 50% del espacio disponible */
    padding: 20px; /* Espacio alrededor de la descripción (ajusta según tus necesidades) */
}
  
.descripcioni h4 {
    font-size: 20px; /* Tamaño del subtítulo (ajusta según tus necesidades) */
    font-family: 'Dancing Script', sans-serif;
    color: #352F44;
}
  
.descripcioni > p {
    font-size: 16px; /* Tamaño de la descripción (ajusta según tus necesidades) */
    text-align: justify;
    
}

.column {
    flex: 25%; /* Cada columna ocupa el 25% del ancho */
    padding: 10px;
}

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** GALERIA ********************************************/

.instruccion{
    display: flex;
    animation: opacityPulse 2s ease-out;
    animation-iteration-count: infinite; 
    opacity: 1;
    
    margin-bottom: 10px;
}

@keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

.gallery {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px; /* Espacio entre las imágenes */
}

.column {
    flex: 25%; /* Cada columna ocupa el 25% del ancho */
    padding: 10px;
    width: 100%;
}

.artwork {
    padding-top: 20px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #ffffff;
}

.artwork:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.caption {
    text-align: right;
    padding: 20px;
    font-weight: 400;
    line-height: 0.5;
}

.caption h3 {
    color: #352F44;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** FORM ********************************************/

.container__form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo__form {
    color: #352F44;
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;    
}

label {
    display: block;
    margin-bottom: 5px;
} 

input[type="text"],
input[type="email"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {

    background-color: #352F44;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 448px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor del label y el checkbox de la edad */
.age-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
    display: block; /* Para que el contenedor no ocupe toda la línea */
}

/* Estilo para el label del checkbox */
.age-label {
    display: inline-block;
    margin-right: 3px;
    padding-top: 3px;
}

/* Estilo para el checkbox */
.age-checkbox {
    vertical-align: text-bottom; /* Centra el checkbox verticalmente con el label */
}

/****************************************************************************************
****************************************************************************************
****************************************************************************************
******************************************** MEDIA ********************************************/

@media (max-width: 768px) {
    .header {
        width: 100%;
    }
    .logo {
        margin-top: 15%;
        height: 70px;
    }
    .topnav {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .topnav a{
        float: none;
        display: block;
        padding: 15px 0;
        text-align: center;
    }
    .headerh1bg {
        font-size: 40px;
    }
    .headerh1 {
        font-size: 40px;
    }
    .h2desc {
        font-size: 20px;
    }
    .footer {
        font-size: 15px;
    }
}

@media (max-width: 945px) {
    .header .header__links {
        display: none;
    }
    .header .toggle__btn {
        display: block;
    }
    .header__mobile{
        display: block;
    }

    .header {
        width: 100%;
    }
    .logo {
        height: 70px;
    }
    .topnav a{
        text-align: center;
        font-size: 20px;
    }
    .headerh1bg {
        font-size: 80px;
    }
    .headerh1 {
        font-size: 80px;
    }
    .h2desc {
        font-size: 30px;
    }
}