/* General */

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
li,
section,
label,
input,
img {
    margin: 0;
    padding: 0;
}

/* Header */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

    display: flex;

    justify-content: end;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #c5c5c5;
    color: white;
}

header {
    text-align: center;
}

.headerh1 {
    color: black; /* Color del texto del título */
    padding: 40px 20px; /* Espacio alrededor del título */
    font-size: 70px; 
    font-weight: 700;
    font-family: 'Dancing Script', sans-serif;
    position: relative; /* Asegura que los elementos dentro del encabezado se posicionen correctamente */
    text-align: center;
    line-height: 1;
}

/* Main */

@media (min-width: 480px) {
    main > article {
        width: calc(50% - 5px);
    }
}
@media (min-width: 768px) {
    main > article {
        width: calc(33.33% - 7px);
    }
}
@media (min-width: 980px) {
    main > article {
        width: calc(25% - 8px);
    }
}

/* INDEX */

.descripcion {
    padding: 25px;
    width:53%;
    margin:0 auto;
    text-align:left;
    text-align: justify;
}

#h2info {
    font-weight: 650;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
}

#h2obras {
    margin: 1;
    font-weight: 650;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    padding-left: 500px;
    line-height: 1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.featured-artwork {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artwork {
    width: calc(33.33% - 10px); /* Tres obras por fila con margen */
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.artwork img {
    max-width: 100%;
    height: auto;
}

.artwork p {
    font-size: 16px;
    margin-top: 5px;
}

/* GALERIA */



/* FORM */



/* Footer */

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-bg {
    flex: 1;
}

.footer-info {
    flex: 1;
}

.footer-links {
    flex: 1;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

/* Estilos para los vínculos */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}